{% macro ribbon(text) %}
    {% if text == 'Terminer' %}
        {% set type = 'success' %}
    {% endif %}

    {% if text == 'Annuler' %}
        {% set type = 'danger' %}
    {% endif %}

    {% if text == 'En attente' %}
        {% set  type = 'primary' %}
    {% endif %}

    {% if text == 'En cour' %}
        {% set  type = 'info' %}
    {% endif %}

    {% if text == 'Livraison' %}
        {% set  type = 'info' %}
    {% endif %}

<div class="ribbon-wrapper ribbon-xl">
    <div class="ribbon bg-{{type |default('default') }}  text-xl">    
    {{ text|default('NOT PAID')}}
    </div>
</div>
{% endmacro %}