<!DOCTYPE html>

<title>Edit Options</title>

{% block body %}
    <h1>Edit Options</h1>

    {{ include('admin/options/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_options_index') }}">back to list</a>

    {{ include('admin/options/_delete_form.html.twig') }}
{% endblock %}
