{% import "macros/admin.html.twig" as admin %}
{% import "macros/link.html.twig" as link %}

{% extends 'admin/base.html.twig' %}

{% block title %}New Option
{% endblock %}

{% block breadcrumb %}
	{{ admin.breadcrumb('Ajouter une option',[
        {
            path:path('app_admin_options_index'),
            name:'Gestion des options'|trans
        }
    ])}}
{% endblock %}

{% block body %}

	<div class="card card-outline card-primary">
		<div class="card-header">Create new Options</div>
        <div class="card-body">
		    {{ include('admin/options/_form.html.twig') }}
        </div>
	</div>
	{{ link.back(path('app_admin_options_index')) }}
{% endblock %}
